.mat-toolbar {
    a, a:visited, a:active{
        color: #B71C1C;
        text-decoration: none;
    }
    a:hover{
        color: #fff;
    }
}

.example-spacer {
    flex: 1 1 auto;
}

.app-content {
    max-width: 800px;
    margin: 10px auto;
}