<h1>Album details</h1>

<div *ngIf="loading" class="loading-container">
    <img src="https://github.com/rodrigovdb/ac-dc/blob/master/src/assets/images/loading.gif?raw=true" />
</div>

<mat-card  *ngIf="currentUser()">
    <mat-card-actions align="end">
        <button mat-raised-button color="secondary" [routerLink]="['/albums', album.id, 'songs', 'new']">Add Song</button>
        <button mat-raised-button color="secondary" [routerLink]="['/albums', album.id, 'edit']">Edit</button>
        <button mat-raised-button color="primary" (click)="destroy(album.id)">Destroy</button>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-title-group>
        <mat-card-title>
            <h1>{{album.name}}</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h2>{{album.year}}</h2>
            <h3>{{album.songs?.length}} Songs</h3>
            <h3>{{album.totalDuration}} Minutes</h3>
        </mat-card-subtitle>

        <img mat-card-xl-image src="{{album.coverImage}}" >
    </mat-card-title-group>
</mat-card>

<app-list-songs [album]="album"></app-list-songs>