<h1>Album details</h1>

<div *ngIf="loading" class="loading-container">
    <img src="https://github.com/rodrigovdb/ac-dc/blob/master/src/assets/images/loading.gif?raw=true" />
</div>

<mat-card  *ngIf="currentUser()">
    <mat-card-actions align="end">
        <button mat-raised-button color="secondary" [routerLink]="['/albums', album.id, 'songs', 'new']">Add Song</button>
        <button mat-raised-button color="secondary" [routerLink]="['/albums', album.id, 'edit']">Edit</button>
        <button mat-raised-button color="primary" (click)="destroy(album.id)">Destroy</button>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-title-group>
        <mat-card-title>
            <h1>{{album.name}}</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h2>{{album.year}}</h2>
            <h3>10 Songs</h3>
            <h3>23:45 Minutes</h3>
        </mat-card-subtitle>

        <img mat-card-xl-image src="{{album.coverImage}}" >
    </mat-card-title-group>
</mat-card>

<mat-card>
    <mat-card-content>
        <h3>Songs</h3>
        <mat-list>
            <mat-list-item class="albumSongsList" *ngFor="let song of album.songs">
                <span matLine>
                    {{song['sort']}}. {{song['name']}}
                </span>

                <div>
                    <button mat-icon-button color="primary" *ngIf="currentUser()" [routerLink]="['/albums', album.id, 'songs', song.id, 'edit']">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" *ngIf="currentUser()" (click)="deleteSong(song.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    {{song['duration']}}
                </div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>