<mat-card class="albumShowCard">
    <mat-card-title-group>
        <mat-card-title>
            <h1>{{album.name}}</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h2>{{album.year}}</h2>
            <h3>10 Songs</h3>
            <h3>23:45 Minutes</h3>
        </mat-card-subtitle>
        

        <img mat-card-xl-image src="{{album.coverImage}}" >
    </mat-card-title-group>

    <mat-card-content>
        <h3>Songs</h3>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-raised-button color="secondary" [routerLink]="['/albums', album.id, 'edit']">Edit</button>
        <button mat-raised-button color="primary" (click)="destroy(album.id)">Destroy</button>
    </mat-card-actions>
  </mat-card>