<div *ngIf="loading" class="loading-container">
    <img src="/assets/images/loading.gif" />
</div>

<!-- <mat-card>
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
</mat-card> -->

<div *ngIf="selectedAlbum">
    <section>
        <img alt="{{selectedAlbum.name}}" title="{{selectedAlbum.name}}" src={{selectedAlbum.coverImage}} />

        <h1>{{selectedAlbum.name | uppercase}}</h1>
        <h2>{{selectedAlbum.year}}</h2>
        <h3>{{selectedAlbum.totalDuration}} Minutes</h3>
    </section>

    <section>
        <h3>Songs</h3>
        
        <ul>
            <li *ngFor="let song of songs">
                <span>{{song.sort}}. </span>
                <span>{{song.name}}</span>
                <span>{{song.duration}}</span>
            </li>
        </ul>
    </section>
</div>

<mat-action-list>
    <mat-list-item class="albumsListItem" *ngFor="let album of albums" (click)="onSelect(album)">
        <img src={{album.coverImage}} matListAvatar alt={{album.name}}>

        <span matLine class="itemName">
            {{album.name}}
        </span>

        <span matLine class="itemYear">
            {{album.year}}
        </span>

        <div>
            <span class="itemTotalSongs">
                {{album.songs.length}} songs
            </span>

            <span class="itemTotalDuration">
                {{album.totalDuration}} Minutes
            </span>
        </div>
    </mat-list-item>
</mat-action-list>