<div *ngIf="loading" class="loading-container">
    <img src="/assets/images/loading.gif" />
</div>

<div *ngIf="selectedAlbum">
    <section>
        <img alt="{{selectedAlbum.name}}" title="{{selectedAlbum.name}}" src={{selectedAlbum.coverImage}} />

        <h1>{{selectedAlbum.name | uppercase}}</h1>
        <h2>{{selectedAlbum.year}}</h2>
        <h3>{{selectedAlbum.totalDuration}} Minutes</h3>
    </section>

    <section>
        <h3>Songs</h3>
        
        <ul>
            <li *ngFor="let song of songs">
                <span>{{song.sort}}. </span>
                <span>{{song.name}}</span>
                <span>{{song.duration}}</span>
            </li>
        </ul>
    </section>
</div>

<ul>
    <li *ngFor="let album of albums">
        <button type="button" (click)="onSelect(album)">
            {{album.name}}
        </button>
    </li>
</ul>