header {
    padding-top: 10px;

    h1 {
        padding: 0px;
        margin: 0px;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;

    a, a:active, a:visited {
        color: #B71C1C;
    }

    a:hover {
        color: #F44336;
        text-decoration: none;
    }
}